{% extends "base.html" %}

{% block content %}
    <div class="panel right">
        <h1>Create a Twitty</h1>
        <p>
            <form action="/submit" method="post">
            {% for field in twitty_form %}{% csrf_token %}
            {{ field }}
            {% endfor %}
            <input type="hidden" value="{{ next_url }}" name="next_url">
            <input type="submit" value="Twitty!">
            </form>
        </p>
    </div>
    <div class="panel left">
        <h1>Public Profiles</h1>
        {% for user, twitty in obj %}
        <div class="twittyWrapper">
            <a href="/users/{{ user.username }}">
                <img class="avatar" src="{{ user.profile.avatar_url }}" height="50px" width="50px">
                <span class="name">{{ user.first_name }}</span>
            </a>
            @{{ user.username }}
            <p>
                {{ user.twitty_count}} Twittys
                <span class="spacing">{{ user.profile.followed_by.count }} Followers</span>
                <span class="spacing">{{ user.profile.follows.count }} Following</span>
            </p>
            <p>{{ twitty.content }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
